/*Topbar*/
.topbar{
   text-align: center;
}
.img{
   width: 300px;
}
.ust{
   margin-top: 100px;
}
/*Serch Part*/
.header{
   margin: 10px 60px 5px 60px;
   background-color:rgb(236, 232, 226);
   text-align: center;
}
.search{
   width: 400px;
}

/*Content*/
.content p{
   font-size: 20px;
}
.content{
       
       height: 200px;
       font-family: Arial, Helvetica, sans-serif;
       margin:0px 60px 5px 60px;
}
.partOne{
   width: 33%;
   float: left;
   text-align: center;
   background-color:rgb(87, 198, 146) ;
   margin-right: 10px;
   height: 180px;
}
.partTwo{
   width: 32%;
   float: left;
   text-align: center;
   background-color: rgb(87, 198, 146);
   margin-right: 10px;
   height: 180px;
}
.partThree{
   width: 33%;
   float: left;
   text-align: center;
   background-color: rgb(87, 198, 146);
   height: 180px;
}
/*Footer*/
footer p {
   text-align: center;
}